/* CSS for Body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255,192, 0);
    transition: background-color 0.5s ease-in-out;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* CSS for Header */
header {
    background: linear-gradient(to right, #009966, #00cc99);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out; /* Added */
}

header h1 {
    color: #808080;
    font-family: 'Young Serif', serif;
    font-size: 2.5rem;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; /* Added */
}

header h1:hover {
    color: #f2f2f2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    animation: pulse 1s infinite;
}

/* CSS for Navbar */
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 10px;
}

nav ul li {
    margin: 0 10px;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, text-decoration 0.3s ease-in-out; /* Enhanced transition */
}

nav ul li:hover {
    transform: scale(1.1);
    text-decoration: underline;
    color: red;
}

nav ul li:nth-child(odd) {
    color: white;
}

nav ul li:nth-child(even) {
    color: black;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, color 0.3s ease-in-out; /* Enhanced transition */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 2px 8px;
}

/* Keyframe Animation for Main Content Entrance */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    opacity: 0;
    animation: fadeInUp 1s forwards 0.5s;
}
